* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
}

a {
  cursor: default;
  text-decoration: none;
  color: black;
}